<div class="app">
  <div class="left">
      <div class="logo-item">
        <img src="assets/img/logo.png" alt="logo" />
      </div>
      <a class="menu-item" [routerLink]="['/knowlages-base']"> 
        <img class="icon" src="assets/img/menu_icons/knowlages_base.png" alt="knowlages base icon" />
        <div class="name">База знаний</div>
      </a>
      <a class="menu-item" [routerLink]="['/orders']"> 
        <img class="icon" src="assets/img/menu_icons/orders.png" alt="orders icon" />
        <div class="name">Заказы</div>
      </a>
      <a class="menu-item" [routerLink]="['/employees']"> 
        <img class="icon" src="assets/img/menu_icons/employees.png" alt="employees icon" />
        <div class="name">Сотрудники</div> 
      </a>
      <a class="menu-item" [routerLink]="['/clients']"> 
        <img class="icon" src="assets/img/menu_icons/clients.png" alt="clients icon" />
        <div class="name">Клиенты</div>
      </a>
      <a class="menu-item" [routerLink]="['/assets']"> 
        <img clas="icon" src="assets/img/menu_icons/assets.png" alt="assets icon" />
        <div class="name">Активы</div> 
      </a>
      <a class="menu-item" [routerLink]="['/settings']"> 
        <img class="icon" src="assets/img/menu_icons/settings.png" alt="settings icon" />  
        <div class="name">Настройки</div> 
      </a>
  </div>

  <div class="right">
    <div class="search-bar">
      <search-bar placeholder="Введите Фамилию, Статус, Приоритет, Тег и т.д. чтобы найти заяв"></search-bar> 
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

